.education {
  color: #E02BFF;
  }

.experience {
  color: #FF1F5B
}

.skills {
  background-color: blue;
  float: right;
  width: 300px;
  color: #E81CB9
}

.skill-text {
  font-style: italic;
}

.education, .experience {
  width: 300px;
  float: left;
}
