.header {
  text-align: center;
  color: #60B200;
}
.education {
  color: #E02BFF;
  width: 300px;
  display: inline-block;
  margin: 40px;
  background-color: #B24D18;
  }

.work {
  color: #FF1F5B;
  width: 300px;
  display: inline-block;
  margin: 40px;
  background-color: #76B292;
}

.skills {
  color: #E81CB9;
  width: 300px;
  text-align: center;
  display: inline-block;
  margin: 40px;
  background-color: #FFF359;
}

.skill-text {
  font-style: italic;
}


.edu-image, .work-image, .skills-image {
  width: 300px;
  height: 300px;
}
